# since streamlit and duckdb are actively developed
# we ping down versions
duckdb==0.7.1
streamlit==1.17.0
streamlit-aggrid 	# ==0.3.3
pandas==1.5.3

# python -m pip install --upgrade pip
# python -m venv venv
# venv\Scripts\activate
# pip install -r requirements.txt
# duckdb==0.8.0
# streamlit==1.22.0
# streamlit_aggrid==0.3.3
# pandas==1.5.3
